$black: mono(0) !default;
$deep-black: mono(25) !default;
$mid-black: mono(55) !default;
$gray: mono(70) !default;
$highlight: mono(150) !default;
$white: mono(225) !default;
$bright-white: mono(255) !default;
$off-white: #f6f3e8 !default;

$tan: #D6D7AF !default;
$dark-tan: #544E44 !default;

$blue-green: #6FE0C2 !default;
$frost: rgb(195, 245, 255) !default;

$red: #EE0F04 !default;
$faded-red: rgb(245, 100, 75) !default;
$error-red: rgb(150, 50, 50) !default;

$green: #abc837 !default;
$light-green: #CEDF99 !default;
$faded-green: #9F9D6D !default;

$yellow: #DFC47D !default;
$orange: #e8bf6a !default;


$background: mono(22) !default;
$foreground: $off-white !default;
$gutter: mono(20) !default;
$cursor: $bright-white !default;


$css-selectors: $light-green !default;
$css-psuedo-elements: $blue-green !default;
$css-important-tags: $red !default;
$css-properties: $orange !default;
$css-values: $green !default;
$css-vendor-prefix: $tan !default;
$css-variable-properties: $faded-red !default;
$css-at-rules: $blue-green !default;
$css-strings: $green !default;
$css-integers: $green !default;
$css-comments: $gray !default;
$sass-variables: $faded-red !default;
$sass-operators: $blue-green !default;
