$html-active-line-change: true;
// HTML Line Color Changing
$conform-style-script-tags: true;
// Conform internal/inline <script> and <style> tags within HTML
$style-vendor-prefix: true;
// Set Vendor Prefixes to a different color
$split-vendor-prefix: true;
