/*======================================================================================
    @COLORS
======================================================================================*/

//====== Mono ======//
$black: #000;
$deep-black: rgb(25, 25, 25);
$background: #272727;
$mid-black: rgb(55, 55, 55);
$gray: #767676;
$highlight: rgb(150, 150, 150);
$white: rgb(225, 225, 225);
$foreground: #f6f3e8;
$bright-white: #fff;

//====== Browns ======//
$tan: #D6D7AF;
$dark-tan: #544E44;

//====== Blues ======//
$blue-green: #6FE0C2;
$frost: rgb(195, 245, 255);

//====== Reds ======//
$red: #EE0F04;
$faded-red: rgb(245, 100, 75);

//====== Greens ======//
$green: #abc837;
$light-green: #CEDF99;
$faded-green: #9F9D6D;

//====== Yellows ======//
$yellow: #DFC47D;
$orange: #e8bf6a;


/*======================================================================================
   @GENERAL
======================================================================================*/

//====== General Editor ======//
.CodeMirror, .CodeMirror-scroll {
    background-color: $background;
    color: $foreground;
}
.CodeMirror-focused {
    .CodeMirror-activeline-background{
        background: $dark-tan;
    }

    .CodeMirror-activeline{

        .CodeMirror-gutter-elt {
            background: $deep-black;
            color: $bright-white;
        }
        .inline-widget .CodeMirror-gutter-elt {
            color: $gray;
        }
    }
    .CodeMirror-selected{
        background: $tan;
        opacity: 0.1;
    }
}


.CodeMirror.find-highlighting div.CodeMirror-selected, .CodeMirror .CodeMirror.find-highlighting div.CodeMirror-selected {
    background: red;
}
.CodeMirror-cursor {
    border-left: 1px solid $bright-white;
}
.CodeMirror-gutters {
    background-color: $deep-black;
    border-right: none;
    margin-right: 10px;
}
.CodeMirror-matchingbracket, .CodeMirror-matchingtag {
    background-color: none;
    color: $blue-green;
}
.CodeMirror-overwrite .CodeMirror-cursor {
    border-left: none;
    border-bottom: 1px solid $bright-white;
}
.CodeMirror .CodeMirror-selected {
    background: $highlight;
}

//====== General Code ======//

.cm-atom{
    color: $green;
}
.cm-attribute{
    color: $tan;
}
.cm-string{
    color: $green;
}
.cm-def{
    color: $blue-green;
}
.cm-hr {
    color: #d68686;
}
.cm-number{
    color: $blue-green;
}
.cm-operator{
    color:$tan;
}
.cm-variable-2{
    color: $red;
}
.cm-meta{
    color: $tan;
}
.cm-variable, .cm-variable-3, .cm-bracket {
    color: $tan;
}
.cm-comment {
    color: $gray;
}
.cm-error, .cm-minus {
    color: $faded-red;
}
.cm-header {
    color: #d85896;
}
.cm-link {
    color: #b77fdb;
    text-decoration: none;
}
.cm-rangeinfo {
    color: #6c71c4;
}
.cm-keyword{
    color: $yellow;
}
.cm-builtin, .cm-quote {
    color: $tan;
}
.cm-qualifier{
    color: $light-green;
}
.cm-tag{
    color: $red;
}
.cm-property {
    color: $orange;
}

//====== Non-Editor Styles ======//

#image-holder, #not-editor {
    background-color: $background;
}
#image-holder {
    color: $foreground;
}


/*======================================================================================
    @CSS
======================================================================================*/

.cm-m-css{

    &.cm-property{
        color: $orange;
    }
    &.cm-tag{
        color: $light-green;
    }
    &.cm-variable-2{
        color: $faded-red;
    }
    &.cm-variable-3{
        color: $blue-green;
    }
    &.cm-attribute{
        color: $tan;
    }
    &.cm-string{
        color: $green;
    }
    &.cm-def{
        color: $blue-green;
    }
    &.cm-hr {
        color: #d68686;
    }
    &.cm-number{
        color: $green;
    }
    &.cm-attribute{
        color: $black;
    }
    &.cm-operator{
        color: $tan;
    }
    &.cm-meta{
        color: $tan;
    }
    &.cm-variable {
        color: $tan;
    }
    &.cm-bracket{
        color: $tan;
    }
    &.cm-psuedo{
        color: $blue-green;
    }
    &.cm-comment {
        color: $gray;
    }
    &.cm-error{
        color: $faded-red;
    }
    &.cm-minus {
        color: $faded-red;
    }
    &.cm-header {
        color: #d85896;
    }
    &.cm-link {
        color: #b77fdb;
        text-decoration: none;
    }
    &.cm-rangeinfo {
        color: #6c71c4;
    }
    &.cm-keyword{
        color: $yellow;
    }
    &.cm-builtin, .cm-quote {
        color: $tan;
    }
    &.cm-qualifier{
        color: $light-green;
    }
} // End CSS


/*======================================================================================
    @JavaScript
======================================================================================*/

.cm-m-javascript{


}// End JavaScript


/*======================================================================================
    @XML/HTML
======================================================================================*/

.cm-m-xml{


}// End XML/HTML


/*======================================================================================
    @PHP/C-Like
======================================================================================*/
.cm-m-clike{


}

