/*======================================================================================
    @COLORS
======================================================================================*/

//====== Enablers ======//
$html-active-line-change: true;
// Set to false to stop HTML/XML line color changes

//====== Simple Editor Var Colors (background, gutters, cursor) ======//
$background: #202020;
$foreground: #f6f3e8;
$gutter: #202020;
$cursor: #fff;


@function mono($input) {
  @return rgb($input, $input, $input);
}

//====== Mono ======//
$black: mono(0);
$deep-black: mono(25);
$mid-black: mono(55);
$gray: mono(70);
$highlight: mono(150);
$white: mono(225);
$bright-white: mono(255);

//====== Browns ======//
$tan: #D6D7AF;
$dark-tan: #544E44;

//====== Blues ======//
$blue-green: #6FE0C2;
$frost: rgb(195, 245, 255);

//====== Reds ======//
$red: #EE0F04;
$faded-red: rgb(245, 100, 75);
$error-red: rgb(150, 50, 50);

//====== Greens ======//
$green: #abc837;
$light-green: #CEDF99;
$faded-green: #9F9D6D;

//====== Yellows ======//
$yellow: #DFC47D;
$orange: #e8bf6a;


/*======================================================================================
   @GENERAL
======================================================================================*/

//====== General Editor ======//

.CodeMirror{
    background-color: $background;
    color: $foreground;
    
    &-gutters {
        background-color: $gutter;
        padding: 0px;
    }
    &-overwrite, &-cursor{
        border-left: 1px solid $bright-white;
        border-bottom: none;
    }
    &-scroll {
        background-color: $background;
        color: $foreground;
    }
    &-activeline-background{
        color: $blue-green;
        background: $blue-green;
    }
    &.find-highlighting{
        div.CodeMirror-selected{
             background: $red;
        }
    }
    .CodeMirror{
        &.find-highlighting{
            .CodeMirror-selected{
                background: $red;
            }
        }
        &-selected {
            background: $tan;
            opacity: 0.1;
        }
        &-linenumbers{
            color: $red;
        }
        &-matchingbracket{
            color: $blue-green !important;
            background: none;
        }
        &-matchingtag {
            color: $blue-green;
            background: $blue-green;
        }
    }
    &-focused {
        .CodeMirror{
            &-activeline-background{
                background: $dark-tan;
            }
            &-activeline{
                .CodeMirror-gutter-elt {
                    background: $deep-black;
                    color: $bright-white;
                }
                .inline-widget .CodeMirror-gutter-elt {
                    color: $gray;
                }
            }
            &-selected{
                background: $tan;
                opacity: 0.1;
            }
        }
    }
}


//====== General Code ======//
.cm{
    &-atom{
        color: $green;
    }
    &-attribute{
        color: $tan;
    }
    &-string{
        color: $green;
    }
    &-def{
        color: $blue-green;
    }
    &-hr {
        color: #d68686;
    }
    &-number{
        color: $blue-green;
    }
    &-operator{
        color:$tan;
    }
    &-variable-2{
        color: $red;
    }
    &-meta{
        color: $tan;
    }
    &-variable, &-variable-3, &-bracket {
        color: $tan;
    }
    &-comment {
        color: $gray;
    }
    &-error{
        color: $error-red;
    }
    &-minus {
        color: $faded-red;
    }
    &-header {
        color: #d85896;
    }
    &-link {
        color: #b77fdb;
        text-decoration: none;
    }
    &-rangeinfo {
        color: #6c71c4;
    }
    &-keyword{
        color: $yellow;
    }
    &-builtin, .cm-quote {
        color: $tan;
    }
    &-qualifier{
        color: $light-green;
    }
    &-tag{
        color: $red;
    }
    &-property {
        color: $orange;
    }
}
//====== Non-Editor Styles ======//

#image-holder, #not-editor {
    background-color: $background;
}
#image-holder {
    color: $foreground;
}


/*======================================================================================
    @CSS
======================================================================================*/

.cm-m-css{
    &.cm{
        &-property{
            color: $orange;
        }
        &-tag{
            color: $light-green;
        }
        &-variable{
            color: $red;
            &-2{
                color: $faded-red;
            }
            &-3{
                color: $blue-green;
            }
        }
        &-attribute{
            color: $tan;
        }
        &-string{
            color: $green;
        }
        &-def{
            color: $blue-green;
        }
        &-hr {
            color: #d68686;
        }
        &-number{
            color: $green;
        }
        &-attribute{
            color: $black;
        }
        &-operator{
            color: $blue-green;
        }
        &-meta{
            color: $tan;
        }
        &-bracket{
            color: $tan;
        }
        &-psuedo{
            color: $blue-green;
        }
        &-comment{
            color: $gray;
        }
        &-minus {
            color: $faded-red;
        }
        &-header {
            color: #d85896;
        }
        &-link {
            color: #b77fdb;
            text-decoration: none;
        }
        &-rangeinfo {
            color: #6c71c4;
        }
        &-keyword{
            color: $yellow;
        }
        &-builtin{
            color: $light-green;
        }
        &-quote {
            color: $tan;
        }
        &-qualifier{
            color: $light-green;
        }
    }
} // End CSS

/*======================================================================================
    @JavaScript
======================================================================================*/

.cm-m-javascript{


}// End JavaScript


/*======================================================================================
    @XML/HTML
======================================================================================*/

.cm-m-xml{
    &.cm{
        &-property{
            color: $yellow;
        }
        &-tag{
            color: $orange;
        }
        &-variable{
            color: $tan;
            &-2{
                color: $faded-red;
            }
            &-3{
                color: $blue-green;
            }
        }
        &-attribute{
            color: $tan;
        }
        &-string{
            color: $green;
        }
        &-def{
            color: $blue-green;
        }
        &-hr {
            color: #d68686;
        }
        &-number{
            color: $green;
        }
        &-attribute{
            color: $orange;
        }
        &-operator{
            color: $blue-green;
        }
        &-meta{
            color: mono(100);
        }
        &-bracket{
            color: $tan;
        }
        &-comment{
            color: $gray;
        }
        &-minus {
            color: $faded-red;
        }
        &-header {
            color: #d85896;
        }
        &-link {
            color: #b77fdb;
            text-decoration: none;
        }
        &-rangeinfo {
            color: #6c71c4;
        }
        &-keyword{
            color: $tan;
        }
        &-builtin{
            color: $light-green;
        }
        &-quote {
            color: $tan;
        }
        &-qualifier{
            color: $light-green;
        }
    }
    
    @if $html-active-line-change {
        &.CodeMirror{
            &-matchingtag {
                background: none;
                &.cm{
                    &-tag{
                        color: $red;
                    }
                    &-keyword{
                        color: $blue-green;
                    }
                    &-attribute{
                        color: $blue-green;
                    }
                    &-string{
                        color: $light-green;
                    }
                }
                
            }
        }
    }

}// End XML/HTML


/*======================================================================================
    @PHP/C-Like
======================================================================================*/
.cm-m-clike{


}

